body {
    background-color: #eeeeee;
}

#top-bar {
    background-color: white;
}

#logo {
    position: absolute;
    width: 100px;
    height: 24px;
    left: 72px;
    top: 10px;

    font-family: Noto Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    text-align: center;

    color: #000000;
}

#DocsButton {
    background-color: #6D61E8;
}