#logo-link {
    color: black;
    font-size: 40px;
    font-weight: bold;
    text-decoration: none;
    margin-right: 60px;
}

#logo-row {
    padding: 0;
    padding: 20px 60px 10px 60px;
}

hr {
    padding: 0;
    margin: 0;
}

#welcoming {
    font-weight: lighter;
    font-style: normal;
    font-size: 28px;
    padding: 0;
    margin: 0;
}

#docCatagories{
    padding-top: 20px;
}

#docCatagories button {
    border-radius: 8px;
    border: none;
    margin-bottom: 20px;
}

.selected {
    background: linear-gradient(90deg, #3A00A9 0%, #6052EC 100%);
    color: white;
    width: 100%;
    text-align: left;
    padding: 6px 16px;
    cursor: pointer;
    outline: none;
    border: none;
}

#searchDocs {
    border-radius: 26px;
    border: 1px solid #CCCCCC;
    display: block;
    margin-bottom: 20px;
    background: #F2F2F2;
    width: 100%;
    height: 2em;
    font-size: small;
    padding: 0 10px;
}

.unselected {
    background: #F2F2F2;
    width: 100%;
    text-align: left;
    padding: 6px 16px;
    cursor: pointer;
    outline: none;
    border: none;
}

#profile-card {
    position: absolute;
    bottom: 0;
    right: 15px;
    background-color: #F2F2F2;
    border-radius: 8px;
    width: 70%;
}

#Logout {  
    width: 100%;  
    background: #FF5B5B;
    border-radius: 8px;
    color: white;
}

#new-document{
    background-color: #F2F2F2;
    border-radius: 8px;
    width: 9%;
    border: none;
}

#documents {
    border-left: 1px solid #F0F0F0;
    padding-top: 20px;
    height: 70vh;
}

.document {
    width: 160px;
    height: 160px;
    background-color: #fafafa;
    border-radius: 20px;
    box-shadow: 0px 12px 20px 1px rgba(0,0,0,0.10), 0px 1px 2px 0px rgba(0,0,0,0.16);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
    position: relative;
    color: black;
}

#document-add {
    background: linear-gradient(45deg, #3A00A9 0%, #6052EC 100%);
    box-shadow: 0px 12px 20px 1px rgba(96, 82, 236, 0.4);
}

#document-name-add {
    color: white;
}

#document-add:hover {
    background: linear-gradient(45deg, #38269b 0%, #756ae9 100%);
}

#document-add:active {
    background: linear-gradient(45deg, #2d0081 0%, #5046c5 100%);
}

.document:hover {
    background-color: #ffffff;
    color: black;
}

.document:active {
    background-color: #eeeeee;
}

.document-image {
    position: absolute;
    transform: translate(0%, -25px);
}

.document-name {
    transform: translate(0%, +56px);
}

.delete-document {
    width: 30px;
    height: 30px;
    padding: 6px;
    border-radius: 50%;
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: #d30a1e;
    opacity: 0;
}

.document-type {
    width: 30px;
    height: 30px;
    padding: 4px;
    border-radius: 50%;
    position: absolute;
    top: 6px;
    left: 6px;
    background-color: white;
    opacity: 1;
    box-shadow: 0px 12px 20px 1px rgba(0,0,0,0.05), 0px 1px 2px 0px rgba(0,0,0,0.16);
}

#documents-shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 1;
    opacity: 0.3;
    display: none;
}

#invitations-dialog {
    position: absolute;
    width: 400px;
    height: 420px;
    background-color: white;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    box-shadow: 0px 12px 20px 1px rgba(0,0,0,0.10), 0px 1px 2px 0px rgba(0,0,0,0.16);
    padding: 40px 0px 0px 20px;
    display: none;
}

#no-invitations-prompt {
    color: rgb(172, 172, 172);
    width: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.invitation-document-name {
    font-size: small;
}


#user-invitations {
    overflow-y: scroll;
    height: 75%;
    padding: 0;
    position: relative;
}

#footer {
    background-color: #252525; 
    height: 100px; 
    bottom:0vh; 
    position: absolute;
}

.invitation{
    align-content: center;
}