body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
button.primary {
    width: 180px;
    height: 42px;
    background-color: #FF3E7A;
    color: white;
    border: none;
    font-weight: bold;
    text-align: center;
    border-radius: 12px;
    font-size: 16px;
    box-shadow: 0px 20px 40px 5px rgba(0,0,0,0.3);
    outline: none;
    cursor: pointer;
}

button.primary:hover {
    background-color: #ff5289;
}

button.primary:active {
    background-color: #e62c67;
}

button.navigation {
    width: 140px;
    height: 42px;
    background-color: #6D61E8;
    color: white;
    border: none;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0px 10px 15px 5px rgba(0,0,0,0.2);
    outline: none;
    cursor: pointer;
}

button.navigation:hover {
    background-color: #7a70e0;
}

button.navigation:active {
    background-color: #5a50c5;
}

.footer p{
    display: inline-block;
    color: white;
}

.footer p a{
    color: white;
    text-decoration: none;
}

.footer {
    position: relative;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100vw;
    color: white;
    text-align: center;
    margin: 0;
    padding: 0;
}

.github-username {
    color: white;
    font-size: small;
    margin-bottom: 6px;
}

.github-icon {
    width: 36px;
    height: 36px;
}

.github-link {
    margin-right: 32px;
}

#footer-container {
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding-top: 20px;

}

#copyright-notice {
    margin: 0;
    padding: 0;
    font-size: small;
    color: rgb(139, 139, 139);
}